body  {
  font-family:Verdana, Geneva, sans-serif;
  font-size:10pt;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  padding:0
}
header h1 {
  font-size:12pt;
  margin: .4em 0
}
.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dashboard h2 {
  font-size:12pt;
  text-align: center;
  padding:.4em 0;
}
.dashboard section {
  flex: 1;
  border: 1px solid #000;
  align-self: stretch;
}
.dashboard section h2 {
  border-bottom: 1px solid #000;
}
.dashboard section ul {
  padding: 0;
  margin: 0;
}
.dashboard section li {
  list-style: none;
  padding: .2em;
}
.dashboard .task {
  border:2px solid #000;
  margin: .2em;
  padding: .4em;
  border-radius: .4em;
}

dl.params {
  display: flex;
  flex-flow: row wrap;
}
.params dt {
  flex-basis: 20%;
  text-align: right;
  font-weight: bold;
}
dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0 0 0 1em;
}