{{ define "main" }}
{{ $tasks := .Site.RegularPages }}
<main class="dashboard">
{{ range $column := .Site.Params.dashboardColumns }}
    <section>
        <h2>{{ $column }}</h2>
        <ul>
            {{ range $task := (where $tasks ".Params.status" $column) }}
            <li>
                <h3><a href="{{ $task.Permalink }}">{{ $task.Params.id }}</a></h3>
                {{ $task.Params.title }}
            </li>
            {{ end }}
        </ul>
    </section>
{{ end }}
</main>
{{ end }}