{{ define "main" }}
{{ $tasks := .Site.RegularPages }}
<main class="dashboard">
{{ range $column := .Site.Params.dashboardColumns }}
    <section class="{{ $column | urlize}}">
        <h2>{{ $column }}</h2>
        <ul>
            {{ range $task := (where $tasks ".Params.status" $column) }}
            <li class="task {{ $task.Params.id | urlize}}">
                <h3><a href="{{ $task.Permalink }}">{{ $task.Params.id }}</a></h3>
                {{ $task.Params.title }}
            </li>
            {{ end }}
        </ul>
    </section>
{{ end }}
</main>
<menu>
    <ul>
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        <li><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ title $taxonomyname }}</a></li>
    {{ end }}
    </ul>
</menu>
{{ end }}